/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/app/cache
.log
.env
.env.prod
.env.local
.env.stage
.env.staging
.env.production
log
*.log
access_log
composer.phar
