# Don't change this settings, instead edit the phpslides.config.json
RewriteEngine On

# Accept Authorization Header
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Redirect all folders and files from request url to serve with PhpSlides configuration.
RewriteCond %{REQUEST_FILENAME} !-d|-d
RewriteCond %{REQUEST_FILENAME} !-f|-f
RewriteRule ^(.*) bootstrap/app.php?uri=$1 [QSA,L]